
/* Flash Message */
.flash-message{
	position: fixed;
}

/* Home Page */

.home {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.home-content {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	width: 50%;
}

.title {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.title-content {
	font-size: 72px;
}

.searchBar {
	display: flex;
}

.query {
	flex-basis: 100%;
	height: 30px;
}

/* Header */

.search {
	position: relative;
	top: 10%;
	left: 80%;
	width: 300px;
	height: 30px;
}

/* Footer */

.nav {
	position: fixed;
	bottom: 10%;
	right: 10%;
}

/* Main page content */

.list-content {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
}
.items {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	margin-left: 25%;
}
.item {
	margin: 10px;
}

.info {
	margin-left: 15px;
}

.info, .download_buttons {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}

.link a {
	overflow-wrap: break-word;
	text-decoration: none;
	font-family: "Arial";
	color: black; 
}

/* View content (img, iframe) */

.view {
	display: flex;
	position:relative;
	width: 300px;
}

.thumbnail {
	flex-basis: 100%;
}

.play-button {
	position: absolute;
	top: 50%;
	right: 50%;
}

.video-time {
	position: absolute;
	font-size: 15px;
	font-family: 'Arial';
	font-weight: bold;
	color: white;
	background-color: black;
	bottom: 5%;
	right: 5%;
}