.search {
	position: fixed;
	bottom: 50%;
	left: 35%;
}

.search .query {
	width: 400px;
}

.links {
	position: relative;
	left: 15%;
	bottom: 50%;
}

.nav {
	position: fixed;
	bottom: 10%;
	right: 20%;
}