
doctype html
html
	head(title="Web Crawler")
		script(src="https://code.jquery.com/jquery-3.2.1.min.js")
		script(type="text/javascript")
			include ../../../dist/bundle.js
		style
			include ../../../assets/css/main.css
	body
		block home
		block content